.container {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  background-size: cover;
  background-position: center;
  border-radius: 30px;
  padding-bottom: 0px;
  flex-wrap: wrap;
  width: 320px;
  height: 440px;
}

.descriptionContainer {
  width: 100%;
  height: 120px;
  border-radius: 00px 0px 30px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #1c101868;
  backdrop-filter: blur(10px);
  color: white;
  justify-content: center;
  text-align: center;
  font-size: 0.9rem;
}
