.pageContainer {
  height: 100vh;
  overflow: auto;
  overscroll-behavior-inline: contain;
  color: black;
}

.sectionsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  background-color: #1c1018;
}

.introContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
  width: 100vw;
  height: 80vh;
  background-color: #eac435;
  text-align: center;
}

.title {
  font-size: 2.8rem;
  z-index: 3;
}

.subheaderContainer {
  position: relative;
  width: 320px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.introSpanContainer {
  display: flex;
  flex-direction: column;
  gap: 35px;
  position: absolute;
  width: 300px;
  transform: translate(135px, 0px);
  text-overflow: wrap;
  text-align: left;
  animation: introSpanContainerScrollUp 8s linear infinite;
}

@keyframes introSpanContainerScrollUp {
  0% {
    transform: translate(135px, 0px);
  }
  11.11% {
    transform: translate(135px, 0px);
  }

  22.22% {
    transform: translate(135px, -58px);
  }

  44.44% {
    transform: translate(135px, -58px);
  }
  55.55% {
    transform: translate(135px, -116px);
  }
  77.77% {
    transform: translate(135px, -116px);
  }
  88.88% {
    transform: translate(135px, -174px);
  }
  100% {
    transform: translate(135px, -174px);
  }
}

.rolesCeiling {
  background-image: linear-gradient(
    #eac435,
    #eac435,
    #eac435,
    #eac435,
    #eac435,
    #eac435,
    #eac3353e
  );
  width: 400px;
  height: 220px;
  position: absolute;
  z-index: 2;
  transform: translate(0px, -220px);
}

.rolesFloor {
  background-image: linear-gradient(
    #eac3353e,
    #eac435,
    #eac435,
    #eac435,
    #eac435,
    #eac435,
    #eac435
  );
  width: 400px;
  height: 220px;
  position: absolute;
  z-index: 2;
  transform: translate(0px, 30px);
}

.proficiencyContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
  background-color: #f7caca;
  background-color: #1c1018;
  width: 100vw;
  padding-top: 200px;
  color: white;
}

@supports (animation-timeline: view()) {
  .proficiencyComponentContainer {
    animation: fade-out linear forwards;
    animation-timeline: view();
    animation-range-start: exit -100px;
    animation-range-end: exit 100px;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
    scale: 1;
  }

  to {
    opacity: 0;
    scale: 0.9;
  }
}

.projectContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  background-color: #1c1018;
  width: 100vw;
  padding-top: 200px;
  padding-bottom: 50px;
  color: white;
}

.carouselContainer {
  display: flex;
  width: 80vw;
  padding: 15px;
  align-items: flex-start;
  justify-content: flex-start;
  overflow-x: auto;
}

.firstTransition {
  background-image: url("../../public/assets/blobs_and_waves/layered-waves-first-transition.svg");
  background-size: cover;
  height: 300px;
  width: 100vw;
}

@media only screen and (max-width: 700px) {
  .carouselContainer {
    width: 95vw;
  }
  .projectContainer {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
