.linksContainer {
  position: fixed;
  display: flex;
  width: 400px;
  height: 40px;
  right: 0px;
  top: 20px;
  border-radius: 30px 0px 0px 30px;
  justify-content: center;
  align-items: center;
  gap: 5%;
  background-color: #1c1018;
  font-size: 1rem;
  transition: all 0.25s ease-in-out;
  color: white;
  z-index: 4;
}

.linkStyle {
  border-bottom: 2px solid #1c1018;
}

.linkStyle:hover {
  border-bottom: 2px solid white;
}

@media only screen and (max-width: 400px) {
  .linksContainer {
    width: 350px;
  }
}
