.container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 600px;
  height: 200px;
  overflow: hidden;
  border-radius: 30px;
  border: 2px solid #fcae3c;
}

.titleContainer {
  width: 240px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #fcae3c;
  backdrop-filter: blur(10px);
  color: #1c1018;
  padding: 5px;
}

.blankContainer {
  width: 100%;
  height: 200px;
}

.projectDescriptionContainer {
  opacity: 1;
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-size: 1rem;
  color: white;
  background-color: #1c101868;
}

.projectDescription {
  width: 100%;
}

@media (max-width: 700px) {
  .container {
    width: 380px;
  }

  .titleContainer {
    width: 200px;
    font-size: 0.7rem;
  }

  .projectDescriptionContainer {
    font-size: 0.8rem;
  }
}
